# Python
__pycache__
correlation_plots/logs/
surrogate_training/dehb_output*
surrogate_training/logs/
.eddie-venv


# Log files
*.out
*.err
*.log
*.json

# IDE related
.vscode/
.idea/

# Jupyter
notebooks/.ipynb_checkpoints/

# Misc
*.sh
*.model
*.pth
*.png

# Data
data

# Results
results
outputs
plots
tables

# Unused by project
.flake8

# Rogue files
benchmarks.txt
failed.pkl
failed.txt
find_empty_runs.py
find_empty_runs_backup.py
find_empty_runs_custom.py
prior_overlap_plots/logs/
test_if_mfpbench_is_broken.py
