# Python
__pycache__

# Log files
*.out
*.err
*.log
*.json

# IDE related
.vscode/
.idea/

# Jupyter
notebooks/.ipynb_checkpoints/

# Misc
*.sh
*.model
*.pth
*.png

# Data
data

# Results
results
outputs

# Unused by project
.flake8
