[submodule "src/neps"]
	path = src/neps
	url = https://github.com/automl/neps.git
[submodule "src/mf-prior-bench"]
	path = src/mf-prior-bench
	url = https://github.com/automl/mf-prior-bench.git
    branch = main
